@font-face {
    font-family: 'Crimson Text';
    src: url("/fonts/Crimson_Text/CrimsonText-BoldItalic.ttf");
}

@font-face {
    font-family: 'Playfair Display';
    src: url("/fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display';
    background-color: rgb(240, 230, 250);
}

h1 {
    text-align: center;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url("../images/cover2.jpg");
    height: 45vh;
    background-position: center;
    background-size: cover;
    margin: 0 0;
}

.navbar header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

nav ul {
    list-style: none;
    margin: 20px;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
}

nav a {
    text-decoration: none;
    color: #ffffff; /* Navigation bar link color */
    font-size: 16px;
}

.navbar nav a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: antipasto;
    transition: 0.3s ease-in-out;
}

.navbar a:hover {
    animation: text-pop-up-top .5s cubic-bezier(.25, .46, .45, .94) both;
    color: rgb(143, 78, 166);
}

.navbar .active {
    color: rgb(144, 74, 214);
}

.content-container {
    font-family: 'Crimson Text';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content h2 {
    top: 50%;
    position: absolute;
    color: white;
    font-family: 'Crimson Text', sans-serif;
    font-size: 6em;
    margin: 0;
    text-shadow: 2px 2px rgb(44, 38, 155);
}

.content h2:nth-child(1) {
    white-space: nowrap;
 
}

.content h2:nth-child(2) {
    color: #9e79e78a;
    animation: animate 4s ease-in-out infinite;

}


@keyframes animate {

    0%,
    100% {
        transform: translate(0);
        clip-path: polygon(0% 45%,
                16% 44%,
                33% 50%,
                54% 60%,
                70% 61%,
                84% 59%,
                100% 52%,
                100% 100%,
                0% 100%);
    }

    50% {
        transform: translate(0%);
        clip-path: polygon(0% 60%,
                15% 65%,
                34% 66%,
                51% 62%,
                67% 50%,
                84% 45%,
                100% 46%,
                100% 100%,
                0% 100%);
    }
}

.go-back {
    margin-top: 10px;
    background-color: #6c757d; /* Go Back button background color */
    color: #ffffff; /* Go Back button text color */
    border: none;
    padding: 5px 15px;
    font-size: 13px;
    cursor: pointer;
    border-radius: 3px;
}

.go-back:hover {
    background-color: #495057; /* Go Back button background color on hover */
}

header {
    background-color: #d297e2; /* Navigation bar background color */
    padding: 10px 0;
    text-align: center;
}



.content-box {
    display: grid;
    grid-template-columns: 1fr; /* One column */
    justify-content: center;
    margin: 30px;
    gap: 30px;
}

.glow-box {
    display: flex;
    flex-direction: row;
    align-items: left;
    overflow: hidden;
    border-radius: 10px;
    width: 900px; /* Adjust the width as needed */
    margin: 0 300px; /* Adjust the margin as needed */
    transition: box-shadow 0.3s, transform 0.3s;
}

.glow-box img {
    width: 40%;
    height: 100%;
    display: block;
    border-radius: 10px;
    transition: transform 1s, box-shadow 0.3s;
}

.glow-box p {
    text-align: center;
    margin: 100px 0;
    flex-grow: 1; /* Allow paragraph to grow and take available space */
}

.glow-box:hover {
    box-shadow: 0 0 20px rgba(92, 0, 128, 0.689), 0 0 40px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.4);
    transform: translateZ(10px);
}

.glow-box:hover img {
    transform: scale(1.1); /* Apply scale transformation on hover */
    
}

/* login */

.login-container {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(162, 63, 173);
    margin-top: 10%;
    margin-left: 30%;
    width: 40%;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 25%;
    padding: 5px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    font-size: 14px;
    padding: 5px;
    background-color: #7944e3;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #814caf;
}

#result {
    margin-top: 16px;
    color: red;
}

/* home */

.container-wrapper {
    display: inline-block;
    position: relative;
}

.context-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-left: 60%;
    text-align: center;
    padding: 150px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(162, 63, 173);
    width: 400px;
    height: 100px;
    transition: opacity 0.3s;
}

.hidden-message {
    margin-left: 60%;
    margin-top: 20%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(162, 63, 173);
    padding: 150px;
    width: 400px;
    height: 100px;
    text-align: center;
}

.container-wrapper:hover .context-container {
    opacity: 0;
}

.container-wrapper:hover .hidden-message {
    display: block;
}